@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    text-align: left;
    direction: ltr;
  }

  p {
    text-align: justify;
  }
}
